<div class="error-page">
  <div class="error-content">
    <div class="error-image">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/54.png"
        alt="Psyduck looking confused"
      />
    </div>
    <h1 class="error-title">404</h1>
    <h2 class="error-subtitle">Page Not Found</h2>
    <p class="error-message">Psyduck is confused! This page doesn't exist.</p>
    <a href="/" class="error-button">
      <i class="fas fa-home"></i>
      Back to Home
    </a>
  </div>
</div>
